USE [master]
GO
/****** Object:  Database [VictimSelector]    Script Date: 8/14/2018 12:27:51 PM ******/
CREATE DATABASE [VictimSelector]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InterviewQuestionVictimSelector', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\InterviewQuestionVictimSelector.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InterviewQuestionVictimSelector_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\InterviewQuestionVictimSelector_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VictimSelector].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VictimSelector]
GO
USE [VictimSelector]
GO
/****** Object:  Table [dbo].[QUESTIONS]    Script Date: 8/14/2018 12:27:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUESTIONS](
	[QUESTION_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[QUESTION] [varchar](1000) NOT NULL,
	[SELECTED] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QUESTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUESTIONS_OLD]    Script Date: 8/14/2018 12:27:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUESTIONS_OLD](
	[QuestionID] [int] IDENTITY(1,1) NOT NULL,
	[Question] [varchar](255) NULL,
	[SELECTED] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENTS]    Script Date: 8/14/2018 12:27:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENTS](
	[STUDENT_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[FIRST_NAME] [varchar](255) NOT NULL,
	[LAST_NAME] [varchar](255) NOT NULL,
	[SELECTED] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[STUDENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENTS_OLD]    Script Date: 8/14/2018 12:27:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENTS_OLD](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](255) NULL,
	[LastName] [varchar](255) NULL,
	[SELECTED] [bit] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[QUESTIONS] ON 

INSERT [dbo].[QUESTIONS] ([QUESTION_ID], [QUESTION], [SELECTED]) VALUES (1, N'Tell me about yourself.', 0)
INSERT [dbo].[QUESTIONS] ([QUESTION_ID], [QUESTION], [SELECTED]) VALUES (2, N'Why are you leaving your current position?', 0)
INSERT [dbo].[QUESTIONS] ([QUESTION_ID], [QUESTION], [SELECTED]) VALUES (3, N'Why do you want this job?', 0)
SET IDENTITY_INSERT [dbo].[QUESTIONS] OFF
SET IDENTITY_INSERT [dbo].[QUESTIONS_OLD] ON 

INSERT [dbo].[QUESTIONS_OLD] ([QuestionID], [Question], [SELECTED]) VALUES (1, N'Tell me about yourself.', 0)
INSERT [dbo].[QUESTIONS_OLD] ([QuestionID], [Question], [SELECTED]) VALUES (2, N'Why are you leaving your current position?', 0)
INSERT [dbo].[QUESTIONS_OLD] ([QuestionID], [Question], [SELECTED]) VALUES (3, N'Why do you want this job?', 0)
SET IDENTITY_INSERT [dbo].[QUESTIONS_OLD] OFF
SET IDENTITY_INSERT [dbo].[STUDENTS] ON 

INSERT [dbo].[STUDENTS] ([STUDENT_ID], [FIRST_NAME], [LAST_NAME], [SELECTED]) VALUES (1, N'Alex', N'Gough', 0)
INSERT [dbo].[STUDENTS] ([STUDENT_ID], [FIRST_NAME], [LAST_NAME], [SELECTED]) VALUES (2, N'Arthur', N'Robinson', 0)
INSERT [dbo].[STUDENTS] ([STUDENT_ID], [FIRST_NAME], [LAST_NAME], [SELECTED]) VALUES (3, N'Austin', N'Kareiva', 0)
SET IDENTITY_INSERT [dbo].[STUDENTS] OFF
SET IDENTITY_INSERT [dbo].[STUDENTS_OLD] ON 

INSERT [dbo].[STUDENTS_OLD] ([StudentID], [FirstName], [LastName], [SELECTED]) VALUES (1, N'Alex', N'Gough', 0)
INSERT [dbo].[STUDENTS_OLD] ([StudentID], [FirstName], [LastName], [SELECTED]) VALUES (2, N'Arthur', N'Robinson', 0)
INSERT [dbo].[STUDENTS_OLD] ([StudentID], [FirstName], [LastName], [SELECTED]) VALUES (3, N'Austin', N'Kareiva', 0)
SET IDENTITY_INSERT [dbo].[STUDENTS_OLD] OFF
ALTER TABLE [dbo].[QUESTIONS_OLD] ADD  DEFAULT ((0)) FOR [SELECTED]
GO
ALTER TABLE [dbo].[STUDENTS_OLD] ADD  DEFAULT ((0)) FOR [SELECTED]
GO
USE [master]
GO
