
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.css" />
    <style>
        .btn a {color: white;text-decoration: none}
        body {background-color: #F1F1F1}
    </style>
    <title>MainForm</title>
</head>
<body>
    <div class="text-center">
        <div class="text-center">
            <h2>Interview Question Selector</h2>
        </div>
        <div class="form-group" margin="50px">
            <table>
                <tr>
                    <td><label>Pool of names:</label></td>
                    <rd><!--control vor listview--></rd>
                </tr>
                <tr>
                    <td></td>
                    <td><button class="btn btn-success">Select</button></td>
                </tr>
                <tr>
                    <td><label>Current Victim: </label></td>
                    <td><!--control for name--></td>
                </tr>
                <tr>
                    <td>Question: </td>
                    <td><!--control for question--></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
